benchmark/
results/
!analyze/
analyze/*
!analyze/imgs/
analyze/imgs/.ipynb*
!analyze/tex/
!analyze/markdown/
!analyze/pkl/candidates/*
__pycache__/
slurm*
py_out/
setup.py
*.ipynb
design.resfile
plotting.py
test_notebook.db
