!benchmark/
benchmark/*
!benchmark/allosteric/
benchmark/allosteric/*
!benchmark/allosteric/pre_relaxed/
results/*
results
analyze/*
analyze/imgs/.ipynb*
analyze/imgs/
analyze/imgs/.ipy**
!analyze/tex/
!analyze/markdown/
__pycache__/
slurm*
py_out/
setup.py
src/testray.py
.idea
*.log
*.ipynb*
design.resfile
plotting.py
test_notebook.db
