benchmark/*
results/*
results
analyze/*
analyze/imgs/.ipynb*
analyze/imgs/
analyze/imgs/.ipy**
!analyze/tex/
!analyze/markdown/
__pycache__/
slurm*
py_out/
setup.py
src/testray.py
*.log
*.ipynb*
design.resfile
plotting.py
test_notebook.db
